.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card{
    background-color: gray;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    height: 270px;
    margin: 10px;
}

.car{
    /* background-color: gray; */
    overflow: auto;
    padding: 0px;
    border-radius: 15px;
    position: relative;
    height: 270px;
}

.song:hover{
    background-color: gray;
    border-radius: 20px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;  
    grid-gap: 15px;
}   
.p{
    line-height: 1.2;
    padding: 5px;
}
.play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: black;
    background-color: rgb(38, 182, 38);
}

.play:hover{
    background-color: green;
    color: white;
    transform: scale(1.2,1.2);
    cursor: pointer;
}

.song{
    display: flex;
    display: flex;
    align-items: center;
    padding: 5px;
}

.songimg{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 5px;
}

.time{
    display: flex;
    justify-content: end;
    width: 100%;
}

.cardimg{
    height: 200px;
    width: 180px;
    border-radius: 15px;
}

.songCard{
    padding: 10px;
    display: flex;
    gap: 30px;
    height: 500px;
    margin: 20px;
}

.act{
    color: gray;
}

.songCardd:hover{
    transform: scale(1.05);
}

.b{
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    /* margin-bottom:20px ; */
}

.p{
    font-size: 16px;
    padding-left: 15px;
    margin-left: 10px;
}

.title{
    margin-top: 10px;
    font-size: 20px;
}